html,
body {
  overflow-x: hidden;
}

body {
  padding-top: 142px;
}

@media (max-width: 991px) {
  body {
    padding-top: 145px;
  }
}

@media (max-width: 480px) {
  body {
    padding-top: 115px;
  }
}